ul{
    margin: 0;
}
html{
    min-height: 100%;
    width: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    width: 100%;
    background: url("../image/background/user1.jpg") center no-repeat fixed;
    background-size: 105% 100%;
    padding-top: 50px;
}
/*header部分开始*/
header{
    height: 50px;
    width: 100%;
    background: rgba(112,128,144,0.9);
    position: fixed;
    top: 0;
}
#logo{
    float: left;
    display: inline-block;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: bolder;
    color: white;
    margin-left: 20px;
}
.nav{
    float: right;
    display: inline-block;
    height: 50px;
}
header ul li{
    line-height: 50px;
    height: 50px;
    margin-right: 20px;
    display: inline-block;
}
.nav li a{
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    height: 50px;
    display: inline-block;
}
/*内容*/
.tx{
    padding: 10px 15px;
    width: 85%;
    margin: 30px auto;
    background-color: rgba(255,255,255,0.30);
    border-radius: 10px;
}
.time{
    height: 30px;
    line-height: 25px;
}
.content{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 20px;
    font-family: 华文楷体;
}